[Desktop Entry]
Version=0.1
Name=Stats
Comment=generated program
Exec=/usr/bin/gnome-terminal -e "bash -c '/usr/local/bin/stats; bash'"
Icon=/usr/share/icons/tux-nemo.png
Terminal=false
Type=Application
Categories=Utility;Application;
